@import '../../styles/mixins';

.card {
  $self: &;

  position: relative;
  display: flex;
  flex-direction: column;
  padding: 35px;
  border-radius: 10px;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    padding: 25px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--card-gradient);
    z-index: 1;
  }

  @media screen and (max-width: 768px) {
    height: 350px;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 22px;

    @media screen and (max-width: 768px) {
      margin-top: auto;
    }
  }

  &__title {
    color: #fff;
    white-space: break-spaces;
  }

  &__subtitle {
    color: #fff;
    white-space: break-spaces;
  }

  &--large {
    grid-column: 1 / -1;

    @media screen and (max-width: 768px) {
      grid-column: auto;
    }

    #{$self}__content {
      max-width: 690px;
    }

    #{$self}__title {
      @include extra-bold-text-74();

      @media screen and (max-width: 768px) {
        @include extra-bold-text-40();
      }
    }

    #{$self}__subtitle {
      @include extra-bold-text-26();

      @media screen and (max-width: 768px) {
        @include extra-bold-text-16();
      }
    }
  }

  &--small {
    padding-top: 50px;
    padding-bottom: 32px;

    #{$self}__title {
      @include extra-bold-text-46();

      @media screen and (max-width: 768px) {
        @include extra-bold-text-40();
      }
    }

    #{$self}__subtitle {
      @include extra-bold-text-24();

      @media screen and (max-width: 768px) {
        @include extra-bold-text-16();
      }
    }
  }
}
