@import '../../styles/mixins';

.text-block {
  display: flex;
  flex-direction: column;
  gap: 17px;

  &__title {
    @include extra-bold-text-32();
    color: #fff;

    @media screen and (max-width: 1023px) {
      @include extra-bold-text-24();
    }

    @media screen and (max-width: 600px) {
      @include extra-bold-text-18();
    }
  }

  &__text {
    @include bold-text-20();
    color: #fff;
    opacity: 0.6;

    @media screen and (max-width: 1023px) {
      @include extra-bold-text-16();
    }

    @media screen and (max-width: 600px) {
      @include bold-text-14();
    }
  }
}
